@{
    ViewBag.Title = "Đổi mật khẩu";
}

<form action="~/Account/ChangePassword" method="post">
    <div class="form-group has-feedback">
        <input type="hidden" name="username" value="@User?.GetUserData()?.UserName" />
        <input type="password" class="form-control" placeholder="Mật khẩu cũ" 
            name="OldPassword">
        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
        @Html.ValidationMessage("OldPassword", new { @class = "text-danger" })
    </div>
    <div class="form-group has-feedback">
        <input type="password" class="form-control" placeholder="Mật khẩu mới" 
            name="NewPassword">
        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
        @Html.ValidationMessage("NewPassword", new { @class = "text-danger" })
    </div>
    <div class="form-group has-feedback">
        <input type="password" class="form-control"
               placeholder="Xác nhận mật khẩu mới" name="ConfirmPassword">
        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
        @Html.ValidationMessage("ConfirmPassword", new { @class = "text-danger" })
    </div>
    @Html.ValidationMessage("Error", new { @class = "text-danger" })
    <div class="row">
        <div class="col-xs-12">
            <button type="submit" class="btn btn-primary"><i class="fa fa-floppy-o"></i> Lưu dữ liệu</button>
            <a href="~/Home" class="btn btn-default">
                <i class="fa fa-arrow-left"></i>
                Quay lại
            </a>
        </div>
        <!-- /.col -->
    </div>
</form>
