<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">

        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu" data-widget="tree">
            <li>
                <a href="~/"><i class="fa fa-dashboard"></i> <span>Trang chủ</span></a>
            </li>
            <li class="treeview active">
                <a href="#">
                    <i class="fa fa-folder"></i> <span>Quản lý dữ liệu</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="~/Supplier"><i style="margin-right: 5px" class="fa fa-handshake-o"></i>Nhà cung cấp</a></li>
                    <li><a href="~/Customer"><i style="margin-right: 5px" class="fa fa-user"></i>Khách hàng</a></li>
                    <li><a href="~/Shipper"><i style="margin-right: 5px" class="fa fa-truck"></i>Người giao hàng</a></li>
                    <li><a href="~/Employee"><i style="margin-right: 5px" class="fa fa-users"></i>Nhân viên</a></li>
                    <li><a href="~/Category"><i style="margin-right: 5px" class="fa fa-tags"></i>Loại hàng</a></li>
                    <li><a href="~/Product"><i style="margin-right: 5px" class="fa fa-apple"></i>Mặt hàng</a></li>
                </ul>
            </li>

            <li class="treeview active">
                <a href="#">
                    <i class="fa fa-folder"></i> <span>Quản lý bán hàng</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="~/Order"><i class="fa fa-list-ul"></i>Danh sách đơn hàng</a></li>
                    <li><a href="~/Order/Create"><i class="fa fa-plus"></i>Lập đơn hàng</a></li>
                </ul>
            </li>
        </ul>
    </section>
    <!-- /.sidebar -->
</aside>